
    body {
        background-color: #FFFFFF;
        font-family: Verdana, Arial, sans-serif;
        margin: 15px;
    }

    p {
        font-size: 10pt;
    }    

    p.news {
        margin-left: 7em;
        text-indent: -7em;
    }
    
    p.outdent {
        margin-left: 1.5em;
        text-indent: -1.5em;
    }
    
    p.toggleLink {
        margin-top: -10px;
    }
    
    blockquote {
        font-size: 10pt;
    }    

    div.breadcrumbs {
        background-color: #CCCCFF;
        border-color: #330066;
        border-width: 1px;
        border-style: solid;
        padding: 10px;
        margin-bottom: 15px;
        
    }

    div.breadcrumbs p {
        font-size: 70%;
        margin-top: 0;
        margin-left: 2em;
        margin-bottom: 0;
        text-indent: -2em;
        padding: 0;
    }

    div.breadcrumbs a {
        color: #333333;
    }

    div.alert {
        background-color: #FFCCCC;
        border-color: #CC0033;
        border-width: 2px;
        border-style: solid;
        padding: 10px;
        margin-bottom: 15px;
    }

    div.alert p {
        margin: 0;
    }

    div#page {
        float: left;
        margin-top: 15px;
    }

    div#sidebar {
        font-size: 75%;
        position: absolute;
        right: 15px;
        width: 210px;
    }
    
    div#content {
        margin: 0 230px 25px 0;
        
    }

    div#content h4 {
        margin-top: 0;
        color: #6633CC;
        border-style: solid;
        border-width: 0 0 2px 0;
        border-color: #CCCCCC;
    }
    
    div#content h3 {
        margin-top: 0;
    }
    
    .navlink {
    	font-family: Verdana, Arial, sans-serif;
        text-decoration: none;
        background-color: #99FF99;
        color: #000000;
        padding: 5px;
        margin: 2px;
    }

    div#navcontainer {
        float: left;
        width: 100%;
        padding-top: 15px;
        background-color: #009900;
    }

    div#footer {
        font-size: 75%;
        text-align: center;
        float: left;
        width: 100%;
        padding-top: 10px;
        border-style: solid;
        border-width: 4px 0 0 0;
        border-color: #009900;
        margin-bottom: 15px;
    }

    div#footer p {
        margin: 0;
    }

    div#checklogin {
        background-color: #FFFFCC;
        border-width: 1px;
        border-style: solid;
        border-color: #FF9900;
        padding: 10px;
        padding-bottom: 5px;
    }
    
    div#checklogin p {
        margin: 0;
        margin-bottom: 10px;
    }

ul#nav, ul#nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

ul#nav {
    margin-left: 15px;
    width: 500px;
}

ul#nav li {
    float: left;
    margin-right: 3px;
    text-align: center;
}

ul#nav a {
    float: left;
    width: 7em;
    padding: 5px 0;
    background: #99FF99;
    text-decoration: none;
    color: #666;
}

ul#nav a:hover {
    background: #33FF33;
}

ul#nav li.activelink a, ul#nav li.activelink a:hover {
    background: #FFF;
    color: #003;
}

div#annual {
    color: #000000;
    font-weight: bold;
    font-size: 13pt;
    margin: -8px 0px;
    padding-top: 8px;
}

div#dates {
    color: #000000;
    line-height: 0px;
    position: relative;
    top: -14px;
    font-weight: bold;
    font-size: 13pt;
}

div#title {
    color: #990000;
    font-weight: bold;
    font-size: 32pt;
    margin-bottom: 3px;
}

    div.modBox {
        position: absolute;
        background-color: #CCCCCC;
        border: #000000 solid 1px;
        padding: 10px;
        display: none;
    }
    
    span.adminEditLinks {
        font-size: 80%;
        font-weight: normal;
    }
    
    span.adminEditLinks a {
        text-decoration: none;
    }
    
    p.greeting {
        font-size: 14pt;
    }
    
    span.important {
        font-weight: bold;
    }
    
    div.attention {
        background-color: #FFCCFF;
        border-color: #990099;
        border-width: 1px;
        border-style: solid;
        padding: 10px;
        margin-bottom: 15px;
    }
    
    div.completeInfo {
        margin-left: 20px;
    }
    
    p.downloads {
        margin-left: 20px;
        font-weight: bold;
    }
    
    th {
        font-weight: bold;
        background-color: #CCCCCC;
        border: 2px outset #666666;
        padding: 5px;
    }

    tr.bg0 {
        background-color: #FFFFCC;
    }
    
    tr.bg1 {
        background-color: #FFFFFF;
    }

    td {
        padding: 5px;
    }
    
    table.selector {
        font-size: 10pt;
        width: 100%;
        cursor: default;
    }
    
    table.selector td {
        padding: 1px;
    }
    