
li {
    list-style: none;
} 

ul , li {
    margin-left:10px; padding:0px;
}

li.branchOpen .desc {
    cursor: pointer;
    background: url(minus.gif) center left no-repeat;
    padding-left: 15px;
}

li.branchClosed .desc {
    cursor: pointer;
    background: url(plus.gif) center left no-repeat;
    padding-left: 15px;
}

li.leaf .desc {
    cursor: pointer;
    background: url(document.gif) center left no-repeat;
    padding-left: 15px;
}

li.branchOpen    ul {
    display: block;
}

li.branchClosed  ul {
    display: none;
}

li.selected {
    border-style: solid;
    border-width: 1px;
    border-color: #FF0000;
}
